body {
  background-color: #ffffff;
}

.topnav {
  background-color: #fbfbfd;
  font-family: sans-serif;
  margin: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topNav a {
  color: #202020;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.topNav a:hover {
  color: rgb(0, 0, 0);
}

.topNav a.active {
  font-weight: bold;
}

.activeTitle {
  background-color: #fbfbfd;
  color: black;
  overflow: hidden;
  font-family: sans-serif;
  margin: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.activeTitle h2 {
  color: rgb(22, 22, 22);
  font-size: 19px;
}

.activeContent {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  color: black;
  font-family: sans-serif;
  top: -9%;
  width: 34%;
}

.activeContent h3 {
  color: rgb(71, 157, 255);
  font-size: 16px;
  margin-bottom: -2.5%;
}

.activeContent p {
  padding-right: 0%;
  font-size: 0.8vw;
}

.appleWebsite {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.airpodsProductImage1 {
  display: inline-block;
  position: relative;
  padding: 2.3%;
  width: 21%;
  margin-left: 26%;
  top: 9%;
}

.airpodsProductImage2 {
  display: inline-block;
  position: relative;
  top: -92.5%;
  left: 28%;
  width: 26%;
}

.buttonHolder {
  display: inline-block;
  position: relative;
  top: -8.5%;
  left: 51.8%;
  width: 32%;
}

button {
  background-color: #ffffff;
  border: solid 1.9px rgb(218, 218, 218);
  border-radius: 10px;
  color: #161616;
  padding: 3.4% 10.5%;
  text-align: center;
  font-size: 0.8vw;
  margin-top: 3px;
  margin-right: 1%;
  margin-bottom: 1.8%;
}

button a {
  color: #292929;
  text-decoration: none;
}

.activeContent button a:hover {
  color: #000000;
  text-decoration: none;
}

.airpodsProductGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38%;
}

.airpodsProductGallery2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28%;
}

.airpodsProductGalleryImage {
  width: 20%;
  margin: 0px 4%;
  z-index: -1;
}

#video1 {
  position: absolute;
  top: 85%;
  left: 24.8%;
  width: 25%;
  height: 25%;
  padding-bottom: 2%;
}

#video2 {
  position: absolute;
  top: 85%;
  left: 50.5%;
  width: 25%;
  height: 25%;
  padding-bottom: 2%;
}